@font-face {
    font-family: "Andy Bold";
    src: url("../assets/fonts/ANDYB.eot") format("eot"), url("../assets/fonts/ANDYB.woff") format("woff"), url("../assets/fonts/ANDYB.ttf") format("truetype"), url("../assets/fonts/ANDYB.svg#Andy-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}