/* #region IMPORTS */
@import url('./parallax.css');
@import url('https://db.onlinewebfonts.com/c/775c3814e9c1f228d495333e07580d59?family=Andy+Bold+V2'); 
/* @import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap'); */

/* #endregion */

/* #region COLOR VARIABLES */
:root { /* WHEN RESTYLING THE SITE TO MATCH MAJOR UPDATES, ONLY CHANGE THESE! */
	--theme-primary: #ae3711;
	--theme-secondary: #611e09;
	--logo-glow: var(--theme-primary);
	--tabs-color: grey;
	--tabs-hover-color: white;
	--logo-width: 406px; /* WIDTH OF THE CURRENT THEME'S LOGO */
}
/* #endregion */ 

/* #region BASE STYLING */
body {
	background-color: #000;
	/* height: 100vh; */
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.0) 100%);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100%;
	z-index: 10;
	overflow: scroll;
}

/* #endregion */
/* #region CLASS STYLING */

h1 {
	margin: 0;
}

.logo {
	background-position: center;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	box-sizing: content-box;
	filter: drop-shadow(0 0 15px var(--theme-secondary));
	animation: tilt 3s infinite alternate-reverse ease-in-out;
	image-rendering: initial;
	max-width: 500px;
	width: 100%;
	height: auto;
}

.content-container {
	color: white;
	font-family: "Andy Bold V2", Arial, Helvetica, sans-serif;
	max-width: 900px;
	margin: 0 auto;
}

/* #endregion */
/* #region NAVBAR */
nav {
	max-width: 100%;
}

.navbar-list {
	display: flex;
	width: 100%;
	list-style: none;
	text-align: center;
	padding: 0;
	margin-top: 30px;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
}

.nav-link {
	display: inline-flex;
	color: var(--tabs-color);
	font-family: "Andy Bold V2", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	height: 35px;
	line-height: 35px;
	transition: 0.1s ease-in-out;
}

.nav-link:hover {
	color: var(--tabs-hover-color);
	scale: 1.2;
}

.nav-link > a {
	color: inherit;
	text-decoration: none;
}
.nav-link::before{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 85%;
	display: inline-block;
	height: 35px;
	width: 35px;
	visibility: visible;
	content: "";
	margin-right: 5px;
	image-rendering: pixelated;
}

.nav-link.home::before {
	background-image: url('https://modofredemption.wiki.gg/images/Redemption_Icon.png');
}

.nav-link.blog::before {
	background-image: url('https://modofredemption.wiki.gg/images/Letter.png');
}

.nav-link.download::before {
	background-image: url('https://modofredemption.wiki.gg/images/Floppy_Disk_3_(1-2).png');
}

.nav-link.discord::before {
	background-image: url('https://terraria.wiki.gg/images/thumb/Chat.png/20px-Chat.png');
}

.nav-link.wiki::before {
	background-image: url('https://modofredemption.wiki.gg/images/Forbidden_Ritual.png');
}

.main-content {
	position: relative;
	z-index: 10;
	color: white;
	font-family: "Andy Bold V2", Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 1.1;
	min-height: fit-content;
	padding: 20px;
}

.site-footer {
	position: relative;
	z-index: 10;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.teaser-embed {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	max-width: 800px;
	height: 500px;
	border: none;
	filter: drop-shadow(0 0 10px var(--theme-secondary));
}
/* #endregion */

hr {
	border: none;
	height: 2px;
	background-color: var(--theme-primary);
	box-shadow: 
    0 0 5px var(--theme-secondary),
    0 0 10px var(--theme-secondary),
    0 0 20px var(--theme-secondary),
    0 0 40px var(--theme-secondary);
}

/* #region ANIMATIONS */
@keyframes tilt {
	0% { rotate: 3deg; }
	100% { rotate: -3deg; }
}
/* #endregion */
