@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://db.onlinewebfonts.com/c/775c3814e9c1f228d495333e07580d59?family=Andy+Bold+V2'); 

:root { /* WHEN RESTYLING THE SITE TO MATCH MAJOR UPDATES, ONLY CHANGE THESE! */
	--logo-glow: rgb(94, 30, 9);
	--tabs-color: grey;
	--tabs-hover-color: white;
}

body {
	background-color: #000;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	z-index: 10;
}

nav {
	width: 100%;
}

ul {
	display: flex;
	width: 100%;
	list-style: none;
	text-align: center;
	padding-left: 0;
	justify-content: center;
	gap: 40px;
}

li {
	display: inline-flex;
	color: var(--tabs-color);
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	height: 35px;
	line-height: 35px;
	transition: 0.1s ease-in-out;
}

li:hover {
	color: var(--tabs-hover-color);
	scale: 1.2;
}

li > a {
	color: inherit;
	text-decoration: none;
}

.logo {
	background-position: center;
	display: block;
	width: 500px;
	margin: 0 auto;
	padding-top: 20px;
	box-sizing: content-box;
	filter: drop-shadow(0 0 15px var(--logo-glow));
	animation: tilt 3s infinite alternate-reverse ease-in-out;
}

.main-container {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.0) 100%);
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

/* #region LIST DECORATORS */
li::before{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	display: inline-block;
	height: 35px;
	width: 35px;
	visibility: visible;
	content: "";
	margin-right: 5px;
}

li.home::before {
	background-image: url('https://modofredemption.wiki.gg/images/Redemption_Icon.png');
}

li.download::before {
	background-image: url('https://modofredemption.wiki.gg/images/Redemption_Icon.png');
}

li.discord::before {
	background-image: url('https://modofredemption.wiki.gg/images/Redemption_Icon.png');
}

li.wiki::before {
	background-image: url('https://modofredemption.wiki.gg/images/Redemption_Icon.png');
}

/* #endregion */
/* #region PARRALAX */
.parallax {
	position: fixed;
	inset: 0;
	z-index: 0;
}

.layer {
	position: absolute;
	inset: 0;
	overflow: hidden;
}

.strip {
	display: flex;
	height: 100%;
	animation: scroll var(--duration) linear infinite;
	transform: translateZ(0);
}

.strip img {
	height: 100%;
	width: auto;
	flex-shrink: 0;
}

.far, .mid, .near {
	--img-width: 162.54vh;
}

.far  { --duration: 80s; }
.mid  { --duration: 50s; }
.near { --duration: 25s; }

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-1 * var(--img-width)));
	}
}

.main-content {
	position: relative;
	z-index: 10;
	min-height: 100vh;
	padding: 4rem;
	color: white;
}

/* #endregion */
/* #region ANIMATIONS */
@keyframes tilt {
	0% { rotate: 3deg; }
	100% { rotate: -3deg; }
}
/* #endregion */